<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCDOPOuRhOvrVgt4lMQoVlQfb-Gfrk_phc</string>
	<key>GCM_SENDER_ID</key>
	<string>303659832167</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseApps.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>fireapp-78ab4</string>
	<key>STORAGE_BUCKET</key>
	<string>fireapp-78ab4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:303659832167:ios:1d5788915851b8410b55c2</string>
</dict>
</plist>